@charset "ISO-8859-1";
.elevation-2dp {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.elevation-3dp {
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.elevation-4dp {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.elevation-6dp {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.elevation-8dp {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.elevation-16dp {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.card {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 18px;
	font-weight: 400;
	min-height: 200px;
	overflow: hidden;
	width: 330px;
	z-index: 1;
	position: relative;
	background: #fff;
	border-radius: 2px;
	box-sizing: border-box;
	margin: 0 20px 40px;
	float: left;
}

.card .title {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #000;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: stretch;
	-webkit-justify-content: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
	line-height: normal;
	padding: 16px;
	-webkit-perspective-origin: 165px 56px;
	perspective-origin: 165px 56px;
	-webkit-transform-origin: 165px 56px;
	-ms-transform-origin: 165px 56px;
	transform-origin: 165px 56px;
	box-sizing: border-box;
}

.card .supporting-text {
	color: rgba(0, 0, 0, .54);
	font-size: 18px;
	line-height: 18px;
	overflow: hidden;
	padding: 16px;
	width: 90%;
}